fastapi
uvicorn[standard]
sqlalchemy
psycopg[binary]
python-dotenv
web3
pydantic
pydantic-settings
asyncpg
alembic
python-multipart
httpx
pyjwt
python-jose[cryptography]
eth-account
aiohttp
scikit-learn
numpy
firebase-admin
